<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Лабораторна робота</ion-card-subtitle>
      <ion-card-title>Створення ionic framework проекту</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     Налаштування середовища та ініціалізація проекту.
    </ion-card-content>
  </ion-card>
</ion-content>
